<template>
  <div class="_container" id="app">
    <div class="_header">
      <div v-if="this.$store.state.isLogin">
        <component-adminheader></component-adminheader>
      </div>
      <div v-else>
        <component-header></component-header>
      </div>
    </div>
    <div class="_main">
      <router-view></router-view>
    </div>
    <div class="_footer">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      isLogin: false
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
._container {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 60px 1fr 112px;
  height: 100vh;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
._header {
  grid-area: header;
}
._main {
  grid-area: main;
}
._footer {
  background-color: #343a40;
  padding-top: 3rem;
  grid-area: footer;
}
/* @media all and (max-width: 575px) {
  ._container {
    grid-template-columns: 20% 1fr;
    grid-template-rows: 80px 1fr 100px;
    height: 100%;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }
} */
</style>
