<template>
  <div>
    <!-- Blog Post -->
        <div class="card mb-4" v-for="key in postData" :key="key.id">          
          <img class="card-img-top" src="..\..\assets\bangha.jpg" alt="Card image cap" />
          <div class="card-body">
            <h2 class="card-title">{{key.title}}</h2>
            <p class="card-text">{{key.text}}</p>
            <router-link :to="`/post/${key.id}`" class="btn btn-primary">Read More &rarr;</router-link>
          </div>
          <div class="card-footer text-muted">
            Posted on 2020년 5월 5일 by
            <a href="#">김방울</a>
          </div>
        </div>    
  </div>
</template>

<script>
import postData from "../../settings/datalist";

export default {
  props: ["id"],
  data() {
    return {
      postData: postData.getSampleDB()
    };
  },
  mounted() {    
  }
};
</script>

<style>
</style>