<template>
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-3 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">일기를 쓰시겠어요?</h1>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input
                        v-model="id"
                        type="userName"
                        class="form-control form-control-user"
                        id="exampleInputUserName"
                        aria-describedby="userNameHelp"
                        placeholder="Enter User Name..."
                      />
                    </div>
                    <div class="form-group">
                      <input
                        v-model="pw"
                        type="password"
                        class="form-control form-control-user"
                        id="exampleInputPassword"
                        placeholder="Password"
                      />
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck" />
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    <a @click="send" class="btn btn-primary btn-user btn-block">Login</a>
                  </form>

                  <!-- <div class="text-center">
                    <a class="small" href="register.html">Create an Account!</a>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    send() {
      this.$axios
        .post("http://192.168.219.102:3000/", {
          id: this.id,
          pw: this.pw
        })
        //NOTE(boo): 서버가 응답이 없을시에 메시지를 띄워주는 작업이 필요할 것 같다.
        .then(auth => {
          if (auth.data == "success") {
            alert("로그인 성공");
            this.$store.state.isLogin = true;
            this.$router.push({ name: "home" });
          } else {
            alert("로그인 실패");
            this.$store.state.isLogin = false;
            this.$router.push({ name: "home" });
          }
        });
    }
  },
  data() {
    return {
      id: "",
      pw: ""
    };
  }
};
</script>
<style></style>
