<template>
  <div class="__contain">
    <!-- <a @click="send" class="btn btn-primary btn-user btn-block">Post</a> -->
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">새로운 일기 쓰기</h1>
    </div>
    <div class="make_center">
      <input v-model="title" type="text" class="post_title" />
      <b-col sm="2" class="dropdown_author">
        <a>Post by :</a>
        <b-form-select v-model="selectedItem" class="m-2">
          <option value="luna">김루나</option>
          <option value="bangwul">김방울</option>
        </b-form-select>
      </b-col>
      <div class="my-8">
        <!--https://vuejsexamples.com/a-simple-vue-component-for-client-side-image-upload-with-resizing/ 참고-->
        <image-uploader
          :preview="true"
          :className="['fileinput', { 'fileinput--loaded': hasImage }]"
          capture="environment"
          :debug="1"
          doNotResize="gif"
          :autoRotate="true"
          outputFormat="verbose"
          @input="setImage"
        ></image-uploader>
        <label for="fileInput" slot="upload-label">
          <figure>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <path
                class="path1"
                d="M9.5 19c0 3.59 2.91 6.5 6.5 6.5s6.5-2.91 6.5-6.5-2.91-6.5-6.5-6.5-6.5 2.91-6.5 6.5zM30 8h-7c-0.5-2-1-4-3-4h-8c-2 0-2.5 2-3 4h-7c-1.1 0-2 0.9-2 2v18c0 1.1 0.9 2 2 2h28c1.1 0 2-0.9 2-2v-18c0-1.1-0.9-2-2-2zM16 27.875c-4.902 0-8.875-3.973-8.875-8.875s3.973-8.875 8.875-8.875c4.902 0 8.875 3.973 8.875 8.875s-3.973 8.875-8.875 8.875zM30 14h-4v-2h4v2z"
              />
            </svg>
          </figure>
          <span class="upload-caption">{{ hasImage ? "Replace" : "Click to upload" }}</span>
        </label>
        <tinymce id="d1" :other_options="tinyOptions" v-model="editorContent" @input="editContents"></tinymce>
      </div>
      <div class="btn btn_post" @click="SubmitPost">Post</div>
    </div>
  </div>
</template>

<script>
import ImageUploader from "vue-image-upload-resize";
import tinymce from "vue-tinymce-editor";
export default {
  components: {
    ImageUploader,
    tinymce
  },
  created() {
    this.newdate = new Date();
  },
  data() {
    return {
      inputData: "1",
      newdate: null,
      title: "제목을 입력하세요",
      image: null,
      hasImage: false,
      editorContent:
        '<h2 style="color: #339966;">여기에 일기를 써주세요.</h2> <p>&nbsp;</p> <p><span>오늘은 무슨일이 있었어요?</span></p>',
      tinyOptions: {
        height: 500
      },
      selectedItem: ""
    };
  },
  computed: {},
  methods: {
    editContents: function(ContentsInput) {
      this.editorContent = ContentsInput;
    },
    setImage: function(output) {
      this.hasImage = true;
      this.image = output;
      console.log(this.image);
      console.log("Info", output.info);
      console.log("Exif", output.exif);
    },
    SubmitPost() {
      // id: 0,
      // title: "저는 김방울입니다.",
      // text:
      // "어느 날, 자취방에 놀러 온 친구가 고양이 한 마리를 쓰다듬으며 말했습니다.야. 너네집 고양이 예쁘다.",
      // createTime: "2020.05.31",
      // user: "yyj"
      this.$store.state.DaoPost.title = this.title;
      this.$store.state.DaoPost.createTime = this.newdate.toLocaleString();
      this.$store.state.DaoPost.text = this.editorContent;
      this.$store.state.DaoPost.user = this.selectedItem;

      console.log(this.$store.state.DaoPost.title);
      console.log(this.$store.state.DaoPost.createTime);
      console.log(this.$store.state.DaoPost.text);
      console.log(this.$store.state.DaoPost.user);
    }
  },
  mounted() {},
  watch: {
    inputData: v => {}
  }
};
</script>

<style>
.__contain {
  margin-top: 30px;
  margin-bottom: 30px;
}
.make_center {
  width: 200vh;
  margin: 0 auto;
  align-self: center;
}
#fileInput {
  display: none;
}
.post_title {
  font-size: 2rem;
  color: #42b983;
  font-weight: 600;
  flex-shrink: 0;
  width: 80%;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  border: 0px;
  border-bottom: 5px solid #42b983;
}
.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.btn_post {
  color: #fff;
  background-color: #42b983;
  border-color: #42b983;
  width: 20%;
}
.dropdown_author {
  display: flex;
  width: 300px;
  margin: 30px auto;
}
a {
  width: 200px;
  align-self: center;
}
@media all and (max-width: 575px) {
  .post_title {
    font-size: 2rem;
    color: #42b983;
    font-weight: 600;
    flex-shrink: 0;
    width: 100%;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    border: 0px;
    border-bottom: 5px solid #42b983;
  }
  .make_center {
    width: 80%;
    margin: 0 auto;
  }
}
</style>