<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <router-link to="/" class="navbar-brand">Lubang's Blog</router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li
            class="nav-link nav-item active"
            v-for="(item, idx) in header"
            :key="idx"
          >{{ item.label }}</li>-->
          <template>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>-->
            <button type="submit" class="btn btn-primary" @click="Logout">LOGOUT</button>
          </template>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    Logout() {
      this.$store.state.isLogin = false;
    }
  }
};
</script>

<style scoped></style>
