<template>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <h1 class="my-4">
          Luna & Bangwoul
          <br />
          <div style="font-size:0.7em; color: gray;">
            <small>냥이들의 일기</small>
          </div>
        </h1>
        <div class="mb-4">
          <router-link to="/NewEdit" class="btn btn-primary">새로운 일기 쓰기</router-link>
        </div>

        <!-- Posted List -->
        <div class="card mb-4" v-for="key in postData" :key="key.id">
          <img class="card-img-top" src="..\assets\bangha.jpg" alt="Card image cap" />
          <div class="card-body">
            <h2 class="card-title">{{ key.title }}</h2>
            <p class="card-text">{{ key.text }}</p>
            <router-link :to="`/post/${key.id}`" class="btn btn-primary">Read More &rarr;</router-link>
          </div>
          <div class="card-footer text-muted">Posted on 2020년 5월 5일 by {{ key.user }}</div>
        </div>
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." />
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <!-- <div v-if="this.$store.state.isLogin" class="card my-4">
          <h5 class="card-header">관리자 Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">기능1</a>
                  </li>
                  <li>
                    <a href="#">기능2</a>
                  </li>
                  <li>
                    <a href="#">기능3</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>-->

        <!-- Side Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div
            class="card-body"
          >You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!</div>
        </div>-->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</template>

<script>
import postData from "../settings/datalist";

export default {
  props: ["auth"],
  data() {
    return {
      postData: postData.getSampleDB()
    };
  },
  methods: {},
  created() {},
  mounted() {
    console.log(this.auth);
  }
};
</script>
<style></style>
